.event-icon-right {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 17px;
  height: 17px;
}

.header,
.generated {
  display: none !important;
}

.scheduler_default_corner {
    background-color: red;
    visibility: hidden !important;
}
